<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="movie_form">
  <label for="searchTerm" class="title">{{title}}</label>

  <div class="movie_search">
    <input
      type="text"
      id="searchTerm"
      formControlName="searchTerm"
      placeholder="Movie Title"
      [(ngModel)]="inputValue.value"
    />

    <div *ngIf="searchForm.get('searchTerm')?.hasError('required')" class="error">
      Required field*
    </div>
    <div *ngIf="searchForm.controls['searchTerm']?.hasError?.('minlength')" class="error">
      Min length 3*
    </div>

    <div>
      <button type="submit" class="btn btn-danger" style="margin-right: 5px">
        Search
      </button>
      <button  *ngIf="title === 'Movie Favorite'" type="submit" class="btn btn-danger" (click)="saveMovie()">
        Save
      </button>
      <button type="submit" class="btn btn-danger" (click)="clearSearch()">
        Clear
      </button>
    </div>

    <div *ngIf="inputValue.value" class="search_term">Search term: {{ inputValue.value }}</div>
  </div>
</form>
