<main class="content">
    <section class="home_cards">
        <div>
            <span class="home_card_title">Users</span>
            <div class="home_card" (click)="redirectToUserList()">
                <i class="fa-regular fa-user"></i>
            </div>
        </div>

        <div>
            <span class="home_card_title">Movies</span>
            <div class="home_card" (click)="redirectToMovieList()">
                <i class="fa-solid fa-film"></i>
            </div>
        </div>
    </section>
</main>