:root {
    --main-color: #A40E4C;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

html, body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
